@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

html[data-theme="light"] {
    color-scheme: light;

    --color-primary: #017afc;
    --color-primary-content: #ffffff;
    --color-secondary: #01fc06;
    --color-secondary-content: #000000;
    --color-neutral: #3d4451;
    --color-neutral-content: #ffffff;
    --color-accent: #000000;
    --color-accent-content: #ffffff;
    --color-base-100: #ffffff;
    --color-base-200: #f9fafb;
    --color-base-300: #f3f4f6;
    --color-base-content: #1f2937;
    --color-info: #0ea5e9;
    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-error: #ef4444;

    --radius-selector: 0rem;
    --radius-box: 0rem;
    --radius-field: 0rem;

    --animation-btn: 0;
    --animation-input: 0;
    --btn-focus-scale: 0.99;
}

html[data-theme="dark"] {
    color-scheme: dark;

    --color-primary: #017afc;
    --color-primary-content: #ffffff;
    --color-secondary: #01fc06;
    --color-secondary-content: #ffffff;
    --color-neutral: #cbd5e1;
    --color-neutral-content: #1f2937;
    --color-accent: #ffffff;
    --color-accent-content: #000000;
    --color-base-100: #242424;
    --color-base-200: #1c1c1c;
    --color-base-300: #323232;
    --color-base-content: #f9fafb;
    --color-info: #38bdf8;
    --color-success: #4ade80;
    --color-warning: #fbbf24;
    --color-error: #f87171;

    --radius-selector: 0rem;
    --radius-box: 0rem;
    --radius-field: 0rem;

    --animation-btn: 0;
    --animation-input: 0;
    --btn-focus-scale: 0.99;
}

* {
    @apply scroll-smooth;
}

html {
    overscroll-behavior-y: none;
}

::selection {
    @apply bg-primary/80 text-primary-content;
}

.button:focus {
    @apply border-none
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.max-w-8xl {
    width: 100%;
    max-width: 85rem;
}
